      .bigbox {
            margin: 30px auto;
            background-color: rgb(207, 173, 202);
            width: 400px;
            min-height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            border-radius: 10px;
        }

        .box1 {
            background-color: rgb(189, 141, 194);
            width: 100%;
            height: 150px;
            box-shadow: 0 0 10px #000;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input {
            padding: 8px 3px;
            border-radius: 5px;
            border: none;
            text-align: left;
            width: 250px;
        }

        button {
            padding: 8px 15px;
            border-radius: 5px;
            border: 2px solid #29082359;
            background-color: rgb(196, 148, 196);
            font-style: italic;
        }

        button:hover {
            transform: scale(0.9);
        }

        .box2 {
            width: 100%;
            min-height: 100px;
            position: relative;
        }

        ul {
            padding: 0;
            margin-left: 0;
            margin-right: 0;
        }

        ul li {
            cursor: pointer;
            padding: 5px 40px;
            text-transform: capitalize;
            list-style-type: none;
            width: 100%;
        }

        ul li:nth-child(odd) {
            background: #e6d8e2;
        }

        ul li:hover {
            box-shadow: 0 0 10px #000;
        }

        ul li.checked {
            background: #380836;
            color: #fff;
            text-decoration: line-through;
        }

        .close {
            color: red;
            position: absolute;
            right: 10px;
            float: right;
            cursor: pointer;
            font-weight: bold;
        }

        .close:hover {
            color: darkred;
        }